body {
    background-image: url("norwegian_nature_preikestolen.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    float: left;
}

html, body {
    margin: 0;
    font-family: "Open Sans";
}

html {
    scroll-behavior: smooth;
}

#header h1, #header p {
    z-index: 50;
    position: relative;
}

#header h1 {
    margin: auto;
    width: 55%;
    color: rgb(44, 41, 63);
}


#header2 {
    width: 50%;
    border: 1px solid black;
    background-color: rgb(86, 176, 250);
}

#footer {
    width: 100%;
    height: 130px;
    background: linear-gradient(110deg, #4d52e6 100%, #777beb 60%);
    margin-top: -20px;
    margin: auto;
    background-color: rgb(100, 99, 99);
}

#child ul {
    padding: 13px;
}

#child li {
    list-style-type: square;
    margin: 7px;
}

.reklame {
    font-size: 13px;
}

#footer p {
    font-size: 12px;
    margin: auto;
    
    width: 50%;
    display: block;
}

/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

#icon1 {
    width: 50px;
    border-radius: 3px;
}

#icon2 {
    
    width: 40px;
}

#icontext {
    margin-top: 23px;
}

#header p {
    margin: auto;
    width: 55%;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(44, 41, 63);
}

#header img {
    width: 50px;
    margin: auto;
    font-size: 18px;
    margin-top: 50vh;
    display: block;
}

#header img:hover {
    cursor: pointer;
}

#wrapper-2 {
    margin: auto;
    width: 55%;
}

.c {
    width: 150px;
    margin: auto;
    display: block;
}

#disc {
    width: 300px; 
    height: 400px;
    display: block;
    float: right;
    margin-left: 85px;
}

#d {
    display: none;
}

#header {
    margin-top: 170px;
    width: 100%; 
}

/*MENU CSS*/

.slide li {
    list-style-type: none;
    width: 75px;
}

.slide li a {
    text-decoration : none; 
    color: white;
    margin-left: -45px;
    font-size: 14.5px;
    text-shadow: 1.4px 1.4px #000000;
}

.slide li a:after {
    content: "";
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    left: 20px;
    background: linear-gradient(110deg, #100936 60%, #d3d5fe 60%);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.slide li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

nav {
  position: absolute;
  z-index: 100;
  width : 135px; 
  margin-left: -50px;
}

#menuspan {
  width: 135px;
  height: 50px;
  margin-top: -15px;
  padding : 10px;
  cursor : pointer;
  display: block;
}

#dropimg:hover {
    opacity: 0.5;
}

#icon2 {
  display: block;
  position: relative;
  z-index: 101;
}
#icon2:hover {
    opacity: 0.5;
}

.wrapperimg {
  width: 350px; display: block; margin: auto;
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  transition: height .4s ease;
}

.slide li {padding : 5px;}

#touch {
  position: fixed; 
  opacity: 0; 
  height: 0;
}    

#touch:checked + .slide {height: 150px;} 
/*END MENU CSS*/

#wrapper {
    width: 98.9vw;
    background-color: white;
    margin-top: 40px;
}

  #dropimg {
    width: 30px;
    float: right;
}


#child {
    margin-top: 200px;
}

#navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
  }
  
.navli {
    float: left;
    list-style-type: none;
  }
  
.navli a {
    display: block;
    color: rgb(63, 88, 58);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }

.navli a:hover {
  color: rgb(63, 88, 58);
}

/*FOOTER*/

.footer-clean {
    padding:50px 0;
    background: linear-gradient(110deg, #656aef 75%, #777beb 60%);
    
    color:#d6d6d6;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  
  /* Credit to https://epicbootstrap.com/snippets/footer-with-columns */


#disclaimer {
  font-size: 11px;
}

#wrapper h2 {
  margin-top: 20px;
}

#header h1, #wrapper h2 {
  font-size: 30px;
}
/**MEDIA CODE**/

@media (min-width: 1800px) {
  #wrapper p {
    font-size: 20px;
  }
  #wrapper li {
    font-size: 19px;
  }
  #footer p {
    font-size: 18px;
  }
   .footer-clean li {
    font-size: 20px;
   }
  #disclaimer {
    font-size: 15px;
  }

}
@media (max-width: 1920px) {        
  #wrapper {
      width: 100%;
  }
}

@media (max-width: 1334px) {        
  body {
      background-size: 1300px;
  }
  #header h1 {
      font-size: 25px;
  }
  #wrapper h2 {
    font-size: 25px;
  }
  #header p {
      font-size: 15px;
  }
  #disc {
      width: 250px;
      height: 250px;
      margin-left: 85px;
  }
}

@media (max-width: 1266px) {        
  #disc {
      display: none;
  }
  #d {
      display: block;
      width: 100px;
      margin: auto;
  }
}

@media (max-width: 750px) {   
  .wrapperimg {
    width: 260px;
  }     
  #icon1 {
      width: 40px;
  }
  #icon2 {
      width: 30px;
  }
  #dropimg {
      width: 25px;
      margin-right: 5px;
      margin-top: 3px;
  }
  nav {
      width : 135px;
      margin-left: -40px;
  }
  .slide li a {
      font-size: 13px;
  }
  #icontext {
      margin-top: 14px;
      font-size: 12px;
  }
  #wrapper-2 {
      width: 85%;
  }
}

@media (max-width: 320px) {
  .wrapperimg {
    width: 230px;
  }
}