#div1 {
    margin: auto;
    width: 50%;
    text-align: center;
}

#div2 {
    width: 50%;
    margin: auto;
}
ol {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.navbar {
    background-color: rgb(255, 255, 255);
}

.navbar a{
   color: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px;  
}

footer {
    background-color: black;
    height: 220px;
}
#footer h1 {
    font-size: 2.4vw;
}

#footer p {
    font-size: 1.2vw;
    color: white;
}

#headerimg {
    margin: auto;
    width: 100%;
}

.grid-container-element { 
    margin: auto;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    /*border: 1px solid black; */
    width: 90%; 
} 

.grid-child-element-purple p{
    font-size: 3.5vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 17%;
}

.grid-child-element-green {
    width: 100%;
}

.button {
    margin: auto;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: rgb(125, 243, 109); 
    color: black; 
    border: 2px solid rgb(125, 243, 109);
    border-radius: 10px;
  }
  
  .button1:hover {
    background-color: #39ff7b;
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }

  #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

  @media (max-width: 720px) {        
    footer {
        height: 140px;
    }
  }